{%  extends 'chat/base.html' %}
{% block title%}Forget Password
{% endblock title%}
{% block css%} 
<style type="text/css" media="all">
  body {
    margin: 0;
    padding-top: 40px;
    color: #2e323c;
    background: #f5f6fa;
    position: relative;
    height: 100%;
}
.account-settings .user-profile {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}
.account-settings .user-profile .user-avatar {
    margin: 0 0 1rem 0;
}
.account-settings .user-profile .user-avatar img {
    width: 90px;
    height: 90px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
.account-settings .user-profile h5.user-name {
    margin: 0 0 0.5rem 0;
}
.account-settings .user-profile h6.user-email {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
    color: #9fa8b9;
}
.account-settings .about {
    margin: 2rem 0 0 0;
    text-align: center;
}
.account-settings .about h5 {
    margin: 0 0 15px 0;
    color: #007ae1;
}
.account-settings .about p {
    font-size: 0.825rem;
}
.form-control {
    border: 1px solid #cfd1d8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    background: #ffffff;
    color: #2e323c;
}

.card {
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
}

</style>
{% endblock css%}
{% block header%}
{% endblock header%}
{% block content %}

 <div class="container mt-3">
<div class="row gutters">

<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
<div class="card h-100">
	<div class="card-body">
	  <div class="container mb-3">
	    <h6 id="msg" class="text-center"></h6>
	  </div>
	  
	  <form method="post" id="FormForegt"> {% csrf_token  %}
		<div class="row gutters">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<h6 class="mb-2 text-primary">Forget password </h6>
			</div>
			
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="form-group">
					<label for="new password">New Password</label>
					<input type="password" class="form-control" name="new_pass" id="new_pass" placeholder="Enter New Password">
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="form-group">
					<label for="cpass">Confirm New Password</label>
					<input type="password" class="form-control" name="c_new_pass" id="c_new_pass" placeholder="confirm new password">
				</div>
			</div>
		</div>

		<div class="row gutters">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<div class="text-right">
		
					<button type="button" id="reset" class="btn btn-primary">Done</button>
				</div>
				
			</div>
		</div>
		
		</form>

	</div>
</div>
</div>
</div>
</div>
      {% endblock content%}
{% block extra_js%}
<script>
  $("#reset").attr({"disabled":true});
  
  $("#c_new_pass").keyup(function(){
    if(this.value == $("#new_pass").val() ){
        $("#reset").attr({"disabled":false});
    } else{
        $("#reset").attr({"disabled":true});
    }
  })
  
var params = new URLSearchParams(window.location.search)

  $("#reset").click(function(){
   let new_pass = $("#new_pass").val();

   let email = atob(params.get("email"));

   if(new_pass == ""){
     $("#msg").text("New Password required")
     return 
   }
    
    if (new_pass.length < 5){
      $("#msg").text("Password should be more than 5 character.")
      return
    }

    if($("#c_new_pass").val() == ""){
      $("#msg").text("Confirm new password")
      return 
    }
    $.ajax({
      url : "/accounts/forget-password/",
      method: "POST",
      data : {"new_pass":new_pass,"email":email,"csrfmiddlewaretoken":"{{csrf_token}}"},
      
      success : function(resp){
        $("#FormForegt").hide();
        $("#msg").addClass("text-success").text("password changed successfully")
        setTimeout(function (){
          window.location.replace("/accounts/login/")
        },3000)
      }
      
    });
    
 } )
  
</script>
{% endblock extra_js%}
