{% extends 'accounts/auth_base.html' %}

{% block title%} Login {% endblock title%}




{% block content%}

<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="login100-form-title" style="background-image: url(/static/auth/images/bg-01.jpg);">
        <span class="login100-form-title-1">
          Sign Up
        </span>
      </div>


      <div class="container mt-3">
        <div id="statusMsgs" class="alert">

        </div>
      </div>


      <form class="login100-form validate-form" id="loginForm">
        <div class="wrap-input100 validate-input m-b-26">
          <span class="label-input100">Email</span>
          <input class="input100" type="text" id="email" autocomplete="off" placeholder="Enter Email">
          <span class="focus-input100"></span>
        </div>
        <div class="wrap-input100 validate-input m-b-26">
          <span class="label-input100">Username</span>
          <input class="input100" type="text" id="username" autocomplete="off" placeholder="Enter username">
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input m-b-26">
          <span class="label-input100">First Name</span>
          <input class="input100" type="text" id="first_name" autocomplete="off" placeholder="Enter First Name (required)">
          <span class="focus-input100"></span>
        </div>
        <div class="wrap-input100 validate-input m-b-26">
          <span class="label-input100">Last Name</span>
          <input class="input100" type="text" id="last_name" autocomplete="off" placeholder="Enter Last Name (required)">
          <span class="focus-input100"></span>
        </div>


        <div class="wrap-input100 validate-input m-b-18">
          <span class="label-input100">Password</span>
          <input autocomplete="off" class="input100" type="password" id="password" placeholder="Enter password">
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input m-b-18">
          <span class="label-input100">Confirm-Password</span>
          <input autocomplete="off" class="input100" type="password" id="c_pass" placeholder="Confirm-password">
          <span class="focus-input100"></span>
        </div>

        {% csrf_token%}

        <div class="container-login100-form-btn">
          <button class="login100-form-btn" type="button" id="signup">
            Signup
          </button>
        </div>
      </form>
      <div class="row">
        <div class="col">

          <div class="content login100-form" style="margin-left:50px;">
            <a class="text-primary" href="/accounts/login/">Login</a>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>

{% endblock content%}
{% block extra_js%}
<script src="/static/js/signup.js"></script>
{% endblock extra_js %}